title #{metadata.title}

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel='shortcut icon', href='/flat-ui/images/favicon.ico')

link(href='/stylesheets/main.css', rel='stylesheet')