// Templates
script(src='/javascripts/libs/jquery.min.js')
script(src='/javascripts/libs/jquery-ui.min.js')
script(src='/javascripts/libs/handlebars-v1.3.0.min.js')

// Plugins
script(src='/javascripts/plugins/meow/jquery.meow.js')
script(src='/javascripts/plugins/stupid-table/stupid-table.min.js')
script(src='/javascripts/plugins/masked-input/masked-input.min.js')
script(src='/javascripts/plugins/numeral/numeral.min.js')
script(src='/javascripts/plugins/numeral/languages.min.js')

// Important! Do not change the order!
script(src='/javascripts/app.js')

// App extensions
script(src='/javascripts/extensions/app.utils.js')
script(src='/javascripts/extensions/app.loading.js')
script(src='/javascripts/extensions/app.templates.js')
script(src='/javascripts/extensions/app.modal.js')
script(src='/javascripts/extensions/app.notify.js')
script(src='/javascripts/extensions/app.form.js')
script(src='/javascripts/extensions/app.field.js')
script(src='/javascripts/extensions/app.datepicker.js')
script(src='/javascripts/extensions/app.number.js')
script(src='/javascripts/extensions/app.auth.js')

// Sections


// Initialize
script(src='/javascripts/init.js')