{% extends 'layouts/auth.html' %}

{% block content %}
<div class="login">
    <div class="login-screen">
        <div class="login-icon"><img src="/flat-ui/images/icons/box.svg" alt="Welcome to App">
            <h4>Welcome to<small>Demo App</small></h4>
        </div>
        <div class="login-form">
            <form id="form-password-recovery" action="/auth/password-recovery" method="post">
                <div class="form-message"></div>
                <div class="form-inputs">
                    <div class="form-group">
                        <input id="email" type="email" name="email" value="" placeholder="Enter your e-mail" class="form-control login-field">
                        <label for="email" class="login-field-icon fui-mail"></label>
                    </div>
                    <input type="submit" value="Reset my password" class="btn btn-primary btn-lg btn-block">
                </div>
                <div class="login-links"><a href="/auth/login" class="login-link">Login</a></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}