extends layouts/auth

block content
    .login
        .login-screen
            .login-icon
                img(src='/flat-ui/images/icons/box.svg', alt='Welcome to App')
                h4 Welcome to
                    small Demo App
            .login-form
                form#form-password-recovery(action='/auth/password-recovery', method='post')
                    .form-message
                    .form-inputs
                        .form-group
                            input#email.form-control.login-field(type='email', name='email', value='', placeholder='Enter your e-mail')
                            label.login-field-icon.fui-mail(for='email')
                        input.btn.btn-primary.btn-lg.btn-block(type='submit', value='Reset my password')
                    div.login-links
                        a.login-link(href='/auth/login') Login