extends layouts/auth

block content
    .login
        .login-screen
            .login-icon
                img(src='/flat-ui/images/icons/box.svg', alt='Welcome to App')
                h4 Welcome to
                    small Demo App
            .login-form
                .alert.alert-danger #{result.message}
                div.login-links
                    a.login-link(href='/auth/login') Login